import java.util.Scanner;
import javax.swing.JOptionPane;


public class VjezbaClass {

	public static void main(String[] args) {
		int x;
		int y;
		String operation;
		
		Scanner input = new Scanner(System.in);
		
		System.out.println("Upisi prvi broj:");
		x = input.nextInt();
		
		System.out.println("Upisi drugi broj:");
		y = input.nextInt();
		
		Scanner op = new Scanner(System.in);
		operation = op.next();
		
		if (operation == "+");
		{
			System.out.println("Rezultat je:" + (x+y));
		}
	
	}

}
